<div class="todo-list">
  <div class="panel panel-default">
    <div class="panel-heading">
      ToDo List
    </div>
    <div class="panel-body todolist">
      <%= render 'index' %>    
    </div>
  </div>
</div>


