<div class="panel panel-default">
  <div class="panel-heading add-edit-developer">
    Add New Developer
  </div>
  <div class="panel-body developer-form">
	<%= render 'developer_form' %>
  </div>
</div>
<div class="developers-list">
	<%= render 'developers_list' %>
</div>