<div class="alert text-center 
    <%= 
    case type.to_sym 
    when :alert, :danger, :error, :validation_errors
        'alert-danger'
    when :warning, :todo
        'alert-warning'
    when :notice, :success
        'alert-success'
    else 
        'alert-info'
    end
    %>
     alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%#= content %>
    <% content.split("<br/>").reject(&:blank?).each do |m| %>
        <li style="line-height: 2.5;margin-left: -35px;list-style-type: none;"><%= m %></li>
    <% end %>
</div>