<div class="todo-list">
  <div class="panel panel-default">
    <div class="panel-heading">
      My Todo List
    </div>
    <div class="panel-body todolist">	
			<%= render 'todo' %>
		</div>
	</div>
</div>