<div class="panel panel-default">
  <div class="panel-heading">
    Todo List For Project <b><%= @project.name %></b>
  </div>
  <div class="panel-body">
    <%= render 'edit_form' %>
  </div>
</div>
