<div class="panel panel-default">
  <div class="panel-heading">
    Create Todo List For Project <%= @project.name %>
  </div>
  <div class="panel-body">
    <%= render 'edit_form' %>
  </div>
</div>
